.repo-link {
  background-color: white;
  border: 0px solid black;
  color: green;
  /* padding: 5px 10px; */
  text-align: center;
  display: inline-block;
  font-size: 15px;
  /* margin: 5px 10px; */
  cursor: pointer;
  text-decoration: none;
}
.head-Img {
  height: 40px;
  width: 40px;
  margin-bottom: -30px;
}
.User-Img {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-left: 68px;
}
.save-button {
    margin-left: 65px;
    margin-top: 10px;
}
.user-details {
    background-color: aqua;
    border-radius: 95px;
    height: 180px;
    width: 180px;
    margin: auto;
}
.input-box {
 width: 48%;
 margin-left: 40px;
}
